@import "tailwindcss";

.font-display {
  font-family: var(--font-oxanium), sans-serif;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050A10;
  color: #F8FAFC;
}